<div class="modal fade show d-block" tabindex="-1" role="dialog" *ngIf="isVisible">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Чайные коллекции</h5>
        <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p class="mb-4">Посмотрите наши чайные коллекции</p>
        <button class="btn btn-primary" (click)="goToCatalog()">Смотреть</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" *ngIf="isVisible"></div>
