<header class="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary px-4">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">Logo</a>

    <div class="collapse navbar-collapse py-1" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link open-popup-link" aria-current="page" [routerLink]="''" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body-secondary" [routerLink]="'/products'" routerLinkActive="active">Каталог</a>
        </li>
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Поиск чая" aria-label="Поиск">
        <button class="btn btn-outline-primary btn-light  hvr-bounce-in" type="submit">
          Найти
        </button>
      </form>
    </div>

  </nav>
</header>
